
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -6%;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    background-color: #77b0a297;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 2%;
    margin-left: 28%;
    width: 150px;
}
.btn:hover{
    background-color: #ffffff;
    color: #77b0a297;

}
input{
    width: 300px;
    border: 1px solid #77b0a297;
    border-radius: 12px;
    height: 40px;
    margin-left: 8%;
}
.input-field {
    text-align: center; 
    color: #77b0a297;
}



.alert{
    background-color: #77b0a297;
    color: white;
    border: 1px solid #77b0a297;
}
