body {
    /* background-image: url(../../../../public/alter.jpg); */
    background-image: linear-gradient(#D8D9DA,#FFF6E0);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 {
    background-color: white;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;

}

input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #272829;
    padding-top: 10px;
    background-color: transparent;
    padding-bottom: 10px;
    width: 290px;
}
input::placeholder{
    color: #272829;
}

button {
    border: 1px solid #272829;
    background-color: transparent;
    color: #272829;
    padding: 6px 80px 6px 80px;
    border-radius: 3px;
    margin-left: 40px;
    transition: transform 0.4s ease-in-out;

}

button:hover {
    color: #D8D9DA;
    background-color: white;
    box-shadow: 2px 2px 10px 10px #D8D9DA;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: #272829;
}