/* body{
    background-color: #448677;
} */
.card {
    width: calc(80.33% - 20px);
    margin: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 10px 10px #F7F1E4;
    color: #272829;
}


.card img {
    width: 100%;
    height: auto;
}

.equal-height {
    display: flex;
}

.equal-height .card {
    height: 100%;

}

.equal-height .card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row {
    margin-left: 7%;
    margin-top: 12%;
}

.card-footer {
    background-color: white;
    border: none;
}
p{
    color: #448677;
}
.card-title{
    color: #448677;
}

.btn {
    /* margin-top: -19%; */
    color: #272829;
    border: 1px solid #272829;
    transition: transform 0.4s ease-in-out;
    

}

.btn:hover {
    box-shadow: 2px 2px 10px 10px #272829;
    transform: scale(1.05);
    color: #272829;
}
